
  @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Elsie&family=Fredericka+the+Great&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --red: #dc2626;
  --grau: #414141;
  --orang: #f97316;
}
html {
  background: rgb(195, 113, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 113, 34, 1) 19%,
    rgba(253, 90, 45, 1) 58%
  );
}
header {
  /* position: relative; */
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgb(195, 112, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 112, 34, 0.75) 19%,
    rgba(253, 90, 45, 0.8) 58%
  );
  padding: 2em 3em;

  display: flex;
  align-items: center;

  justify-content: end;
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

header .main-gif img {
  position: absolute;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0px;

  transition: transform 1s ease-in-out;
}

#lama:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

nav {
  display: none;
  justify-content: end;
  /* justify-content: space-between; */

  text-align: right;
}

nav a {
  /* display: flex; */
  text-decoration: none;
  margin: 0 1rem;
  color: #ebf3fd;
  font-weight: bold;
  font-size: 1.4rem;
  transition: font-size 1s;
  transition-property: font-size, margin-left;
  transition-duration: 1s;
}

nav a:hover {
  /* border-bottom: 3px solid; */
  color: #453636;
  font-weight: 900;

  font-size: 1.7rem;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}
.container-alpha {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-alpha span {
  font-size: 5vw;
  letter-spacing: 10px;
  animation: shahab 4s infinite;
  /* transform-origin: 0 100%; */
  font-family: 'Fredericka the Great', cursive;
}

@keyframes shahab {
  0% {
    color: #fff900;
    transform: scale(1.3);
  }
}
.container-alpha > span:nth-child(1) {
  animation-delay: 0.1s;
}
.container-alpha > span:nth-child(2) {
  animation-delay: 0.2s;
}
.container-alpha > span:nth-child(3) {
  animation-delay: 0.3s;
}
.container-alpha > span:nth-child(4) {
  animation-delay: 0.4s;
}
.container-alpha > span:nth-child(5) {
  animation-delay: 0.5s;
}
.container-alpha > span:nth-child(6) {
  animation-delay: 0.6s;
}
.container-alpha > span:nth-child(7) {
  animation-delay: 0.7s;
}
.container-alpha > span:nth-child(8) {
  animation-delay: 0.8s;
}
.container-alpha > span:nth-child(9) {
  animation-delay: 0.9s;
}
.container-alpha > span:nth-child(10) {
  animation-delay: 1s;
}
.container-alpha > span:nth-child(11) {
  animation-delay: 1.1s;
}
.container-alpha > span:nth-child(12) {
  animation-delay: 1.2s;
}

h3 {
  display: flex;
  margin-left: 2rem;
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, rgb(191, 118, 73));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 5rem;
  top: rem;
}

.bg-img {
  background-image: url(./image/bonnie-kittle-bFnYSF86kc8-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 50rem;
  top: 5rem;
}

.fa-bars {
  color: #f0c321;
}

#menu-btn ul {
  position: absolute;
  opacity: 0;
  top: 4.3rem;
  list-style: none;
  background-image: url(./image/hfjtdgw.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  text-align: left;
  border-radius: 10px 0px 0px 10px;
}
#menu-btn ul li a {
  text-decoration: none;
  color: #966320;
  font-size: 1.3rem;
}
#menu-btn ul li a:hover {
  color: #e64d06;
  font-size: 1.8rem;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}

#menu-btn:hover ul {
  opacity: 1;
  width: 200px;
  right: 1px;
  transition: opacity 2s;
}

.icons i {
  font-size: 2rem;
  width: 45px;
  height: 45px;
  border-radius: 5px;

  cursor: pointer;
  margin-left: 0.4rem;
  line-height: 45px;
}

.main-about {
  display: block;
  /* border: 2px solid #e64d069a; */
  border-radius: 10px;
  /* width: 90rem; */

  text-align: center;
  margin-top: 4rem;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 1.5rem;

  /* background-color: #e64d0645; */
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.main-about:hover {
  filter: blur(0);
  transform: scale(1.1);
}
.main-about h1 {
  position: relative;
  margin-top: 5px;
  color: #f7f6f1;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}
.main-about p {
  font-size: 1.5rem;
  color: #edd89c;
  padding: 5px;
  margin: 0px 20px;
  font-weight: 900;
  font-family: 'Elsie', cursive;
  font-family: 'Fredericka the Great', cursive;
  
}

.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons1 {
  margin-top: 25px;
}

.footer .icons1 a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer .icons1 a :hover {
  transform: rotate(10deg);
  transform: scale(2);
}

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}

/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

@media screen and (max-width: 680px) {
  nav a {
    display: flex;
    flex-wrap: wrap;

    color: aqua;
    display: none;
    justify-content: end;
    align-items: flex-end;
    justify-items: end;
  }
}
@media screen and (min-width: 880px) {
  .container-alpha span {
    position: relative;
    font-size: 2rem;
    left: -90%;

    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (min-width: 880px) {
  #menu-btn {
    display: none;
  }
  nav {
    display: block;
  }

  .bg-container .bg-img {
    height: 60rem;
  }
}
