* {
    margin: 0%;
    padding: 0%;
}

#farm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}


.container {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 360px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;


}

.container img {
    width: 550px;
    height: 350px;
    border-radius: 5px;

}

.container2>div {
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imge1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.imge2 {
    grid-column: 2 / -1;
    grid-row: 1;
}

.imge3 {
    grid-column: 1 / 2;
    ;
    grid-row: 2;
}

.imge4 {
    grid-column: 2 / -1;
    grid-row: 2;
}

.haed-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}


@media (min-width: 200px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;

    }

    .container img {
        max-width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .container {

        display: flex;
        flex-direction: column;
    }

    .container img {
        max-width: 400px;
    }
}


/* teil 2 */


#thealpacas {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}



.container-art {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.container-art img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* teil-3 */


#guided-tours {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    padding: 10px;
    width: 100%;

}

#guided-tours h2 {
    text-align: center;
    margin-bottom: 50px;

}

.container-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;


}



.container-box>div {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 2px 5px 3px #82847e;
    width: 250px;
    height: 300px;

}



.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    animation-name: box 1s;
}

@keyframes box {
    30% {
        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}



.box:hover {
    transform: translateX(3px);
    background-color: #d35500;
    box-shadow: inset 2px 5px 3px #82847e;

}

.box h3 {
    text-align: center;
}

.box ul li {
    list-style-type: "* ";
}

@media (min-width: 330px) and (max-width: 922px) {
    .container-box {

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;


    }

    .box {
        margin-bottom: 30px;
    }

    #guided-tours {
        text-align: start;
    }

}




/* teil-4 */


#accommodation {
    margin-top: 50px;
    padding: 50px;
    width: 100%;
}

#accommodation h1 {
    text-align: center;
    padding-bottom: 50px;
}

.service {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}

.service-box {
    flex-basis: 33%;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    color: rgb(251, 236, 236);
    position: relative;
}

.service-box img {
    width: 100%;
    border-radius: 8px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgb(0, 0, 0), #ff8000);
    opacity: -1;

}

.info-service {
    width: 75%;
    position: absolute;
    bottom: 1%;
    text-align: center;
    left: 20%;
    transform: translateX(-10%);
    opacity: 0;
    transition: 1s;
}

.service-box:hover .info-service {
    bottom: 30%;
    opacity: 1;

}

hr {
    background-color: aliceblue;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 50%;
}

.box-text {
    color: gray;
    text-align: center;
    margin-top: 50px;
}




@media (min-width: 330px) and (max-width: 767px) {
    .service {

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .service-box {
        margin-bottom: 30px;
    }


}


/* teil-5 */


#the-farm-shop {
    width: 100%;
    text-align: center;

}

.container-shop {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 30px;
    margin: auto;


}

.shop img {
    width: 350px;
    border-radius: 8px;

}

.shop {

    padding: 20px;
}

.text-shop {
    padding: 20px;
    animation: text-box 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both ;
    opacity: 1;
    cursor: pointer;
}

.shop:hover text-shop {
    animation: text-box;
    color: #a4b300;
}

@-webkit-keyframes text-box {
    0% {
        -webkit-transform: scaleY(0.2);
        transform: scaleY(0.2);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: .3;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        color: #ff8000;
        opacity: 2;
    }
}


@media (min-width: 330px) and (max-width: 768px) {
    .container-shop {

        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }

    .service-box {
        margin-bottom: 30px;
    }
}


#contact {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: start;
    color: white;
}


.container-contact {
    border: 1px solid white;
    display: inline-block;
    width: 50%;
    height: auto;
    text-align: center;
    left: 25px;
    margin-top: 20px;
    background: rgb(255, 240, 240);
    background: rgba(255, 240, 240, 0.891);
    padding-left: 30px;
    position: relative;
}

.teil-2 {
    margin: 10px;
}

.label {
    background-color: rgb(90, 85, 85);
    display: inline-block;
    text-align: left;
    width: 308px;
    height: 22px;
    font-style: italic;
    font-size: large;
    border-radius: 2px;

}

.input {
    width: 307px;
    height: 40px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: larger;
    border-radius: 3px;
}

.input {
    text-align: right;
}

.input:focus {
    text-align: left
}

.input:hover {
    background-color: #cbcea9;
}



/* button-style */


.button {
    display: inline-block;
    width: 15rem;
    padding: .75rem .125rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    text-decoration: none;
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(209, 209, 47);
    border-radius: 10rem;
    z-index: -2;

}

.button:before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a4b300;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}

.button:hover {
    color: #fff;

}

.button:hover:before {
    width: 100%;
}


/* .input::placeholder {
    
    background-color: rgb(255, 3, 3);
    width: 22px;
    animation: input-d 0.5s ;
  } */